{% extends "base.html" %}
{% load x509_auth_extras %}
{% block body %}
<h1>Certs</h1>
{% if HTTP_X_SSL_AUTHENTICATED %}
You are using this new certificate:
<form action="{% url 'map' %}" method="post">
  {% csrf_token %}
  <p>
    Cert Distinguished Name (DN): <em>{{ HTTP_X_SSL_USER_DN }}</em>
  </p>
  <input id="id_cert_dn" maxlength="1024" name="cert_dn" type="hidden" value="{{ HTTP_X_SSL_USER_DN }}" />
  <input type="submit" value="Add Certificate" />
</form>
{% endif %}
<ul>
{% is_X509_authed as authed %}
TEST: {{ authed }}
{% for usercert in object_list %}
  <li>{{ usercert.user }} - {{ usercert.cert_dn }} <a href="{% url 'delete' pk=usercert.pk %}">Delete</a></li>
{% empty %}
  <li>No usercerts yet.</li>
{% endfor %}
</ul>
{% endblock %}
